body {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container, .register-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* Tamanho fixo para evitar que o container seja muito estreito */
  max-width: 100%;
  text-align: center;
}

.login-container img, .register-container img {
  max-width: 120px;
  margin-bottom: 1.5rem;
}

.login-container h2, .register-container h2 {
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.login-container .form-label, .register-container .form-label {
  color: #000000;
  font-size: 1rem;
  text-align: left;
  display: block;
  width: 100%; /* Certifica que a label ocupe toda a largura */
}

.login-container .form-control, .register-container .form-control {
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  width: 100%; /* Certifica que o campo ocupe toda a largura */
  box-sizing: border-box;
  text-align: left;
}

.login-container .forgot-password, .register-container .forgot-password {
  text-align: left;
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.login-container .btn-primary, .register-container .btn-primary {
  background-color: #28a745;
  border-color: #28a745;
  display: block;
  margin: 1.5rem auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  width: 100%; /* Certifica que o botão ocupe toda a largura */
}

.login-container .btn-link, .register-container .btn-link {
  color: #007bff;
  font-size: 0.875rem;
}

.login-container .text-muted, .register-container .text-muted {
  color: #6c757d;
  font-size: 0.875rem;
}

.login-container .register-message, .register-container .register-message {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.login-container .register-link, .register-container .register-link {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
